<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>wee-php-beautifier</string>
	<key>uuid</key>
	<string>E0B6EC3F-66CB-45DE-A813-9EA12442085D</string>
</dict>
</plist>
